.container {
  display: flex;
  align-items: center;
  gap: 12px;
}
.btn {
  background-color: #fff;
  border: none;
  border-radius: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  box-shadow: 0px 0px 4px 0px #0000004d;
  cursor: pointer;
}
.arrow {
  width: 16px;
  height: 16px;
}
.disabled {
  opacity: 0.5;
  cursor: default;
}
