.container {
  display: flex;
  align-items: start;
  gap: 8px;
}

.item_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ababab;
  cursor: pointer;
}
.star {
  font-size: 21px;
}
.active {
  color: #ff5500;
}
.active_text {
  color: #000000;
}
