@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.root {
  background-color: black;
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  opacity: 0.5;
  z-index: 100;
}
.no_scroll {
  overflow: hidden;
}
.interactive {
  cursor: pointer;
}
.modal {
  background-color: #fff;
  position: fixed;
  z-index: 101;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 334px;
}

.btns_box {
  display: flex;
  gap: 8px;
}

.login_btn {
  color: #ffffff;
  background-color: #ff5500;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-size: 14px;
  font-weight: 500;
  display: flex;
  height: 40px;
  align-items: center;
}
.login_btn:hover {
  background-color: #e94e00;
  cursor: pointer;
}

.logout_btn {
  border: 1px solid #ff5500;
  background-color: transparent;
  padding: 8px 16px;
  font-weight: 500;
  height: 40px;
  font-size: 14px;
  border-radius: 8px;
  color: #ff5500;
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: 20px;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}
.close_btn {
  background-color: transparent;
  cursor: pointer;
  border: none;
}
.close_icon {
  width: 16px;
  height: 16px;
}
.inputs_box {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.login_label,
.password_label {
  display: flex;
  flex-direction: column;
  gap: 4px;
  font-size: 14px;
  font-family: "Inter", sans-serif;
}
.login_input,
.password_input {
  background-color: #fff;
  padding: 12px;
  border-radius: 8px;
  outline: none;
  border: 1px solid #e1e3e6;
  font-family: "Inter", sans-serif;
}

.login_input::placeholder,
.password_input::placeholder {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  color: #ababab;
}
.login_input:hover,
.password_input:hover {
  border: 1px solid #ced2d6;
}
.login_input:focus,
.password_input:focus {
  border: 1px solid #ff5500;
}

.span {
  color: #f04075;
}
